{% extends 'Sewing_site/base.html' %}

{% block content%}
<div class = "content-text">
<p>Разновидностей хобби очень много. Кому-то нравятся экстремальные занятия спортом или подвижные танцы, а кому-то коллекционирование или рисование. А многим по душе рукоделие, которое позволяет смастерить своими руками вещи для себя, детей или домашнего уюта. Одним из видов рукоделия является кройка и шитье. Это очень выгодное, в основном женское, хобби. Без существенных вложений из лоскутов тканей можно сшить изысканную вещь, которая будет выглядеть модно и оригинально.<br><br>


Шитье и крой — это творческий процесс, требующий не только вдохновения, но и отдельного оборудованного места в вашей квартире, где можно работать, а также хранить ткани и все необходимые аксессуары для шитья. Для шитья необходимо, кроме швейной машины, иметь еще и следующие самые необходимые инструменты: ручные иглы и булавки, нитки, ножницы, наперсток, сантиметровая лента, мелок или кусочек мыла. Для перевода выкроек понадобятся бумага (калька), линейка, карандаш, циркуль. Также необходимо изучить швейные термины и основы ручных и машинных стежков, правила снятия мерок и основ перевода и построения выкроек. И, главное, запомнить последовательность шитья изделия.<br><br>

Такие занятия как, например, подшить брюки, скатерть, занавески или сшить простынь – не требует особых навыков и знаний раскроя и шитья, но вот пошив более серьезных вещей, например, сшить платье, мужскую рубашку или курточку, требует посещения специальных курсов или самообучения. Если раньше, чтобы научиться швейному мастерству требовались долгие годы, то сейчас одним из самых простых и доступных методов получения новых знаний в вопросах пошива и ремонта изделий, их декорирования, является общение на специализированных интернет сайтах.<br><br>
Раздел "Мастер-классы" поможет неопытным мастерицам. На таких мастер-классах рукодельницы делятся опытом, показывают особенности пошива того или иного предмета. При этом каждое действие сопровождается подробной инструкцией и фотографиями. Удобно, не правда ли?<br><br>
</p>
{% for master_class in MasterClass_list %}
<div class = "container">
  <a href ="master-class-details/{{ master_class.id }}">
  <img src="{{ master_class.photo_of_preview_master_class.url }}" class="img-master-class-preview" alt="{{master_class.photo_of_preview_master_class}}">
  <div class = "bottom-left">
    {{master_class.title_of_master_class}}
  </div>
  </a>
</div>
{% endfor %}
<br><br>
В разделе "Публикации" вы сможете находится в курсе событий развитие нашего сайта, а также событий в мире вышивки<br><br>
{% for post in Post_list %}
  <img src="{{ post.photo_of_preview_post.url }}" class="img-master-class-preview" alt="{{master_class.photo_of_preview_master_class}}">
{% endfor %}
{% endblock %}
</div>
