*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img-master-class-preview  {
  height : 200px;
  width : 200px;
  object-fit: cover;
	object-position: 50% 50%;
}


.home-img-master-class-preview  {
  height : 170px;
  width : 170px;
  object-fit: cover;
	object-position: 50% 50%;
}


a {
	text-decoration: none;
}

	header{
		width: 100%;
		/*background: #085486;*/
		background: #FFFFF0;

	}

	.header__logo{
		margin-top: 38px;
	}

	.text_header_logo{
		text-transform: uppercase;
		font-weight: 800;
		font-size: 24px;
		color:  #47473d;
		margin-top: 70px;
		margin-left: 0%;
	}
.logo{
	display: flex;
	flex-direction: row;
  justify-content: center;

}

	nav{
		margin-top: 56px;
		margin-bottom: 20px ;
		text-align: center;

	}
	.topnav a{
		color: #e2d8ce;
		text-align: center;
		padding: 16px 16px;
		font-size: 16px;
		font-weight: bold;
		background: #696969;
	}
	.topnav a:hover{
		background: #de6d94;
		transition: background 0.3s ease;
	}

	.topnav .icon{
		display: none;
	}




	.text{
		text-align: left;
		padding: 5% 20% 5% 20%;
		line-height: 1.5;
		list-style-type: none;
	}
	.text_name{
		padding: 2% 0% 2% 0%;
	}

	.container{
		display:  flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 2%;
	}
	form{
		position: relative;
		width: 300px;
		margin: 0 auto;
	}
	input{
		width: 100%;
		height: 42px;
		padding-left: 10px;
		border: 3px solid #7BA7AB;
		border-radius: 5px;
		outline: none;
		background: #F9F0DA;
		color: #9E9C9C;
	}
	 button.search{
		position: absolute;
		top: 0;
		right: 1px;
		height: 42px;
		border: none;
		background: #7BA7AB;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
	}
	button.search:before{
		content: "\f002";
		font-family: FontAwesome;
		font-size: 16px;
		color: #F9F0DA;
		padding-left: 15px;
		padding-right: 15px;
	}


	html,body{
		font-family: 'Open Sans', sans-serif;
		height: 100%;
	}
	body{
		background: #FFFFF0/*#fda600*/;
	}

	.wrapper{
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	.content{
		flex: 1 0 auto;

	}
.content-text{
	line-height: 1.5;
	border:2px solid #de6d94;
	margin: 30px 34.5% 30px 34.5%;
	border-radius: 5px;
	padding: 20px;
}


.content-text-details{
	margin: 30px 34.5% 30px 34.5%;
	padding: 20px;
}


.content-text-details h1{
	color: #696969;
}





.content-text-details-include{
	margin-top: 30px;
}
.content-list{
	margin: 30px 34.5% 30px 34.5%;
	padding: 20px;

}


.content-list img{
	border-radius: 10px;
	margin: 0 auto;

}


.line{
	border-bottom: 2px solid #f00;
	margin: 10px 0px 10px 0px
}


.container{
	position: relative;
	text-align: center;
	color: white;
	padding: 2px
}


.content-list-lable{
	display: flex;
	flex-direction: column;

}


.content-include{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}


.content-include p{
	margin-left: 20px;


}


.content-list-lable a{
	text-decoration: none;
	color:  #f00;
	font-weight: bold;
}

.content-list-lable span{
	margin-top: 10px;
}

.bottom-left{
	position: absolute;
	bottom: 20px;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
	text-decoration: none;
}


.home-photo-position{
	display: flex;
	justify-content: center;
	line-height: 1.25;
}


	.footer{
		flex: 0 0 auto;
		color: #e2d8ce;
		background: #696969/*#085486*/;
		text-align: center;
		padding: 20px 40px 80px;
		margin-left: 34.5%;
		margin-right: 34.5%;
		font-weight: bold;
	}

	h1.name{
		display: flex;
		justify-content: center;
		padding: 5%;

	}
	h2.name{
		display: flex;
		justify-content: center;
		padding: 1%;

	}
	.for_picture{
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.search_bar{
		margin-top: 56px;
		margin-left: 11%;
	}

@media screen and (max-width: 1750px){

			.content-text{
				line-height: 1.5;
				border:2px solid #de6d94;
				margin: 30px 30% 30px 30%;
				border-radius: 5px;
				padding: 20px;
			}
			.footer{
				flex: 0 0 auto;
				color: #e2d8ce;
				background: #696969/*#085486*/;
				text-align: center;
				padding: 20px 40px 80px;
				margin-left: 30%;
				margin-right: 30%;
				font-weight: bold;
			}
			.content-text-details{
				margin: 30px 30% 30px 30%;
				padding: 20px;
			}

			nav{
				width: 100%;
				margin-left: 2%;
			}
			.container{
				display: flex;
				flex-direction: column;
			}
			.home-photo-position{
				display: flex;
				flex-direction: column;
			}
			.bottom-left{
				position: absolute;
				bottom: 20px;
				margin-left: 40%;
				margin-right: 40%;
				text-shadow: 1px 1px 2px black;
				font-weight: bold;
				text-decoration: none;
			}
			.content-list{
				margin: 30px 15% 30px 15%;
				padding: 20px;

			}
			.content-list img{
				border-radius: 10px;
				margin: 0 auto;

			}
			.content-include{
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: space-between;
			}


			.content-include p{
				margin-left: 10px;
			}

			@media screen and (max-width: 800px){

				.content-text{
					line-height: 1.5;
					border:2px solid #de6d94;
					margin: 30px 15% 30px 15%;
					border-radius: 5px;
					padding: 20px;
				}
				.footer{
					flex: 0 0 auto;
					color: #e2d8ce;
					background: #696969/*#085486*/;
					text-align: center;
					padding: 20px 40px 80px;
					margin-left: 15%;
					margin-right: 15%;
					font-weight: bold;
				}
				.content-text-details{
					margin: 30px 15% 30px 15%;
					padding: 20px;
				}

				.text_header_logo{
					display: none;
				}
				.header__logo{
					margin-left: 2%;
				}
				.topnav a{
					display: none;
				}
				.topnav a.icon{
					margin-left: auto;
		    	margin-right: auto;
					width: 100px;
					margin-top: -17px;
					display: block;
					font-size: 25px;
				}
				.topnav.responsive{
					position: relative;
					top:  50px;
					left: 0px;
				}

				header .topnav.responsive{
					height: 220px;
				}

				.topnav.responsive a.icon{
					position: absolute;
					top: -50px;
					left: 42%

				}
				.topnav.responsive a{
					/* float: none; */
					display: block;
				}

				.container{
					display: flex;
					flex-direction: column;
				}
				.home-photo-position{
					display: flex;
					flex-direction: column;
				}
				.bottom-left{
					position: absolute;
					bottom: 20px;
					margin-left: 30%;
					margin-right: 30%;
					text-shadow: 1px 1px 2px black;
					font-weight: bold;
					text-decoration: none;
				}
				.content-list{
					margin: 30px 15% 30px 15%;
					padding: 20px;

				}
				.content-list img{
					border-radius: 10px;
					margin: 0 auto;

				}
				.content-include{
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: space-between;
				}


				.content-include p{
					margin-left: 10px;
				}


			}


		}
